*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background: #ffffff;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 35px;
    font-weight: bold;
    float: left;
    font-family: Courier;
    color: white;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #2B2E4A;
    z-index: 1;
    border-bottom: 1px solid #ffffff;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;  
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #222831;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #222831;
    width: 100%;
    line-height: 50px;
}

a.button{
    background: #E84545;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.button:hover{
    background: #00B8A9;
    text-decoration: none;
}

a.button1{
    background: #00B8A9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.button1:hover{
    background: #E84545;
    text-decoration: none;
}

p{
    margin: 30px 0px 30px 0px;
    padding-left: 30px 0px 30px 0px;
}

.foto-diri{
    width: 50%;
    margin: 0 auto;
}
.foto-diri img{
    width: 100%;
    border-radius: 50%;
}

.foto-diri p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #222831;
}

.mid {
    text-align: center;
    width: 100%;
}

.portofolio{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.portofolio .list{
    width: 33%;
    margin-inline-end: 0 auto;
}
.portofolio .list img{
    width: 80%;
    border-radius: 0px;
    margin-top: 30px;
}

.team-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.team-kartu{
    width: 25%;
    margin-inline-end: 0 auto;
}

.team-kartu img{
    width: 80%;
    border-radius: 50%;
}

.team-kartu p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #222831; 
}

#contact {
    background: #522546;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    line-height: 50px;
}

.footer-section p{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-section p a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.blogly{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.blogly-list{
    width: 30%;
    margin-inline-end: 0 auto;
    border: 1px solid #2B2E4A;
    margin-left: 3%;
}

.blogly-list img{
    width: 80%;
    margin-top: 20px;
    border-radius: 0px;
}

.blogly-list h4{
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #E84545;
    text-align: center;
}
.blogly-list p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #222831;
}

.blogly-list .teks{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    width: 90%;
    margin-left: 20px;
}